<%= form_with(model: [commentable, comment], local: true) do |form| %>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content, required: true %>
  </div>

  <div class="actions">
    <%= form.submit 'コメントする' %>
  </div>
<% end %>
