<h1><%= t('book_views.editing_book') %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('book_views.show_this_book'), @book %> |
  <%= link_to t('book_views.back_to_books'), books_path %>
</nav>
