
<div id="<%= dom_id report %>">
  <p>
    <strong>作成日:</strong>
    <%= l(report.created_at, format: :long) %>
  </p>

  <p>
    <strong>title</strong>
    <p>
      <%= report.title %>
    </p>
  </p>

  <p>
    <strong>body</strong>
    <p>
      <%= report.body %>
    </p>
  </p>

</div>
